Checks: "-*,clang-analyzer-*,performance-*,bugprone-*,readability-*,portability-*,modernize-*"
WarningsAsErrors: ""
HeaderFilterRegex: '^(include|src)/.*'
AnalyzeTemporaryDtors: false
FormatStyle: none
